<div class="comment">
  <p><%= comment.commenter_name %> said ...</p>
	<%= markdown comment.body %>
  <p><%= comment.created_at %></p>

  <% if @current_user %>
    <% if @current_user.admin %>
	    <%= link_to 'delete comment', [@post, comment], :confirm => 'Do you want to delete this comment?', :method => 'delete' %>
    <% end %>
  <% end %>
</div>
