<% form_for([@post, @comment]) do |f| %>
	<p>
		<b>Comment Body | <%= link_to "Markdown formatting  supported", "http://en.wikipedia.org/wiki/Markdown" %></b><br />
		<%= f.text_area :body %>
	</p>

	<p><%= f.submit button_name %></p>
<% end %>
