<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b> Your password is hashed in the database.
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
