<% form_for @post do |f| %>
	<p>title: <%= f.text_field :title %></p>

	<p>
		body:<br />
		<%= f.text_area :body %>
	</p>

  <p>tags: <%= f.text_field :tag_list %></p>

	<p><%= submit_tag button_name %></p>
<% end %>
